@import 'index';

.collapse{
    padding-bottom: 20px;
    margin: auto;
    width: 80%;
    button{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: none;
        background-color: $special-orange;
        color: white;
        font-weight: bold;
        font-size: 16px;
        padding: 7px;
        border-radius: 5px;
    }
    &__content{
        padding: 10px;
        background-color: rgb(247, 247, 247);
    }
    &__icon{
        cursor: pointer;
    }
    &__icon.open{
        animation-name: open;
        animation-duration: 300ms;
        transform: rotate(180deg);
    }
    &__icon.closed{
        animation-name: closed;
        animation-duration: 300ms;
    }
}
@keyframes open {
    from {transform: rotate(360deg)}
    to {transform: rotate(180deg)}
}
@keyframes closed {
    from {transform: rotate(180deg)}
    to {transform: rotate(360deg)}
}