.home {
  padding: 0px 50px 0px;
  .cards-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 3%;
    background-color: rgb(229, 226, 226);
    border-radius: 20px;
    gap: 20px;
    height: 430px;
    overflow: hidden;
  }
  }