@import 'index';

.header {
    padding: 0px 50px 0px;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-size: 50px;
        color: $special-orange;
        font-weight: 600;
        i{
            font-size: 25px;
            margin: 5px;
            vertical-align: middle;
        }
    }
    ul {
        list-style-type: none;
        display: flex;
        gap: 40px;
    }
}

.link {
    text-decoration: none;
    &:visited{
        color: black;
    }
}
.active-link{
    text-decoration: underline;
}

.footer {
    background-color: black;
    height: 120px;
    color: white;
    text-align: center;
    padding: 1px 0px 10px;
        i{
            font-size: 18px;
            margin: 3px;
        }
        p {
            font-size: 30px;
        }
}