@import 'index';

.rental{
    padding: 20px 70px 20px;
}

///style du slideshow

.slideshow {   
    position: relative;
    overflow: hidden;
    height: 400px;
    border-radius: 15px;

    span{
        font-size: 15px;
        position: relative;
        bottom: 10%;
        left: 50%;
        background-color: transparent;
        color: white;
    }
    img{
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    .arrow-left, .arrow-right{
        padding: 20px;
        position: absolute;
        top: 33%;
        font-size: 90px;
        color: $special-orange;
        background-color: transparent;
        border: none;
        cursor: pointer;
        opacity: 30%;
        &:hover{
            opacity: 100%;
        }
    }
    .arrow-left {
        left: 0%;
    }
    .arrow-right {
        right: 0%;
    }
}

///style details

.details{
    display: flex;
    justify-content: space-between;
    color: $special-orange; 
    font-weight: 600;
    height: 100px;
    margin: 20px 0px 25px;

    h1{
         margin: 0;
    }

    .location{
     font-size: 15px;
     margin: 0;
     color: black;
    }

    .host{
        display: flex;
        align-items: center;

        img{
            order: 1;
            border-radius: 100%;
            width: 60px;
            height: 60px;
        }
        p{
            font-size: 16px;
            margin: 0px 10px 0px;
            width: 70px;
            text-align: right;
            text-wrap: wrap;
        }
    }

    .rating{
        margin-top: 15px;
        font-size: 20px;
        i{
            padding: 3px;
        }
        .star-empty{
            color: lightgray;   
        }
    }

    .tags{
        color: white;
        margin: 15px 0px 0px;
        display: flex;

        span{
            background-color: $special-orange;
            border-radius: 10px;
            padding: 3px;
            font-size: 12px;
            margin-right: 10px;
            display: block;
            width: 110px;
            text-align: center;
        }
    }
}

//style collapses

.collapses {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    .collapse{
        padding: 0;
        margin: 0;
        width: 47%;
        &__content{
            font-size: 16px;
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style-type: none;
                }
            }
        }
    }
}